<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858515368370-5m489vdb4f9d2342jauq4gab8lg7he8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858515368370-5m489vdb4f9d2342jauq4gab8lg7he8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCleWLBnje8zDhX8D56nK7BuPAjB0UYk1o</string>
	<key>GCM_SENDER_ID</key>
	<string>858515368370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmurphy.test.MusicianshipTrainer</string>
	<key>PROJECT_ID</key>
	<string>musicianshiptrainer</string>
	<key>STORAGE_BUCKET</key>
	<string>musicianshiptrainer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858515368370:ios:60a214ab59d84a81271cab</string>
</dict>
</plist>